{% capture full_title -%}
{%- if title -%}
{{ title }} – Open Home Foundation
{%- else -%}
Open Home Foundation
{%- endif-%}
{%- endcapture %}

{% capture full_description -%}
{%- if description -%}
{{ description }}
{%- else -%}
The Open Home Foundation fights for the principles of privacy, choice, and sustainability for smart homes. And for every
person who lives in one. It does this by supporting the development of open source projects, and open connectivity and
communication standards.
{%- endif-%}

{%- endcapture %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ full_title }}</title>
    <meta name="description" content="{{ full_description }}">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{{ full_title }}">
    <meta property="og:description" content="{{ full_description }}">
    <meta property="og:image" content="{{ og_image | default: '/assets/images/opengraph.jpg' }}">
    <link rel="stylesheet" href="/assets/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    <!-- Dark mode favicon -->
    <link
      rel="icon"
      href="/favicon-dark-16x16.png"
      type="image/x-icon"
      media="(prefers-color-scheme: dark)"
      sizes="16x16"
    >
    <link
      rel="icon"
      href="/favicon-dark-32x32.png"
      type="image/x-icon"
      media="(prefers-color-scheme: dark)"
      sizes="32x32"
    >

    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="/assets/js/nav-menu.js" defer></script>
  </head>
  <body>
    <header>{% include 'components/navbar' %}</header>
    <div class="content">{{ content }}</div>
    <footer>{% include 'components/footer' %}</footer>
  </body>
</html>
