{% capture full_title -%} 
{%- if title -%}
{{ title }} – Open Home Foundation
{%- else -%}
Open Home Foundation
{%- endif-%}
{%- endcapture %}

{% capture body_class -%} 
{%- if page.fileSlug != "" -%}
page-{{ page.fileSlug }}
{%- else -%}
page-index
{%- endif-%}
{%- endcapture %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ full_title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{{ full_title }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="/assets/js/nav-menu.js" defer></script>
  </head>
  <body class="{{ body_class }}">
    <header>{% include 'components/navbar' %}</header>

    <div class="content">{{ content }}</div>
    <footer>{% include 'components/footer' %}</footer>
  </body>
</html>
