---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Open Home Foundation Blog</title>
  <subtitle>News and updates from the Open Home Foundation</subtitle>
  <link href="https://www.openhomefoundation.org/blog/feed.xml" rel="self"/>
  <link href="https://www.openhomefoundation.org/blog/"/>
  <updated>{{ collections.posts[0].date | date: "%Y-%m-%dT%H:%M:%SZ" }}</updated>
  <id>https://www.openhomefoundation.org/blog/</id>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://www.openhomefoundation.org{{ post.url }}"/>
    <updated>{{ post.date | date: "%Y-%m-%dT%H:%M:%SZ" }}</updated>
    <id>https://www.openhomefoundation.org{{ post.url }}</id>
    {%- if post.data.author %}
    <author><name>{{ post.data.author }}</name></author>
    {%- endif %}
    {%- if post.data.description %}
    <summary>{{ post.data.description | escape }}</summary>
    {%- endif %}
    <content type="html"><![CDATA[{{ post.templateContent }}]]></content>
  </entry>
  {%- endfor %}
</feed>
